<div class="product">
  <div class="product-detail">
    <div class="product-img">
      <img [src]="product.image" [alt]="product.title" />
    </div>
    <div class="product-info">
      <h2 class="product-info__title">{{ product.title }}</h2>
      <p class="product-info__description">{{ product.description }}</p>
      <a routerLink="/" class="btn btn-primary-light">Explore More &gt;&gt;</a>
    </div>
  </div>
  <div class="product-methods">
    <product-method-card
      [productMethod]="productMethod"
      *ngFor="let productMethod of product.methods"
    ></product-method-card>
  </div>
</div>
