<header class="header mb-3">
  <h2 class="header__title mb-0">Grab Your Checklist</h2>
  <p class="header__description m-0">
    Expert design solutions just a few clicks away.
  </p>
</header>
<main>
  <p *ngIf="isChecklistFormSubmitted">
    Your checklist should started downloading automatically. If not
    <a routerLink="/" (click)="downloadChecklist()">Click here to download</a>
  </p>
  <div *ngIf="error" class="alert alert-danger">
    {{ error.message }}
  </div>
  <download-checklist-form
    *ngIf="!isChecklistFormSubmitted"
    (isSubmitted)="isChecklistFormSubmitted = $event"
    (handleError)="error = $event"
  ></download-checklist-form>
</main>
<mat-dialog-actions align="end" *ngIf="isChecklistFormSubmitted">
  <button mat-dialog-close class="btn btn-light text-dark">Close</button>
</mat-dialog-actions>
