.btn-light {
  color: $primary;
  &:hover,
  &:active,
  &:focus {
    color: $primary;
    background-color: $gray-200;
  }
}

.btn-outline-light {
  &:hover,
  &:focus {
    color: $primary;
  }
}

.btn-primary-light {
  background-color: transparent;
  color: $primary;
  padding-inline: 1rem;
  &:hover,
  &:focus {
    color: $primary;
    background-color: $primary-100;
  }
}

.btn-primary {
  &,
  &:hover,
  &:disabled,
  &:focus {
    color: #fff;
  }
}
