.btn-light {
  color: $primary;
  &:hover,
  &:active {
    color: $primary;
    background-color: $gray-200;
  }
}

.btn-outline-light {
  &:hover {
    color: $primary;
  }
}

.btn-primary-light {
  background-color: transparent;
  color: $primary;
  padding-inline: 1rem;
  &:hover {
    color: $primary;
    background-color: $primary-100;
  }
}
