$blue: hsl(214, 64%, 48%);
$indigo: hsl(263, 90%, 51%);
$purple: hsl(261, 51%, 51%);
$pink: hsl(330, 67%, 52%);
$red: hsl(354, 70%, 54%);
$orange: hsl(27, 98%, 54%);
$yellow: hsl(45, 100%, 51%);
$green: hsl(156, 91%, 36%);
$teal: hsl(162, 73%, 46%);
$cyan: hsl(190, 90%, 50%);
$gray: hsl(196, 22%, 27%);

$primary: $green;

// font-family

$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
