@import "variables";

.method-card {
  background-color: $primary-100;
  border-radius: 0.5rem;
  padding: 1.5rem;
}

.method-icon {
  width: 2rem;
}

.method {
  &-title {
    color: $gray;
  }

  &-description {
    color: $gray-800;
  }
}

.btn-link {
  text-decoration: none;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  font-family: inherit;
  padding-inline: 0;
  &:hover {
    text-decoration: underline;
    color: $primary;
  }
}
