<swiper [config]="swiperConfig" class="hero-swiper" *ngIf="carouselSlides">
  <ng-template swiperSlide *ngFor="let slide of carouselSlides">
    <header class="hero-header">
      <h1 class="hero-header__title">{{ slide.title }}</h1>
      <p class="hero-header__description">{{ slide.description }}</p>
    </header>
    <div class="hero-cta">
      <button class="btn btn-light btn-lg">Explore Us</button
      ><button class="btn btn-outline-light btn-lg">Get In Touch</button>
    </div>
    <div
      class="hero-bg"
      [ngStyle]="{ backgroundImage: 'url(' + slide.image + ')' }"
    ></div>
  </ng-template>
</swiper>
<ng-container *ngIf="error">
  <div class="error m-4">
    <div class="alert alert-danger">
      {{ error.message }}
    </div>
  </div>
</ng-container>
<ng-container *ngIf="loading">
  <div class="loader text-center m-4">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</ng-container>
