@import "variables";

.navbar-brand {
  img {
    width: 140px;
    width: clamp(138px, 28vw, 180px);
    transform: translateX(-5px);
  }
  &:focus {
    outline: 1px dotted $primary;
  }
}

.navbar-toggler {
  &:focus {
    border-color: $primary;
    box-shadow: 0 0 0 0.25rem transparentize($primary, 0.75);
    background-color: $primary-100;
  }
}
