<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-lg">
    <a href="/" class="navbar-brand">
      <img src="assets/logo/stacia-logo.png" alt="Stacia logo" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      (click)="isCollapsed = !isCollapsed"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      navigation
      class="collapse navbar-collapse justify-content-md-end"
      [ngbCollapse]="isCollapsed"
      (onCollapse)="isCollapsed = true"
    ></div>
  </div>
</nav>
