<div class="footer">
  <div class="container-lg container-footer-link">
    <div class="brand-info">
      <a routerLink="/" class="brand-logo">
        <img src="assets/logo/stacia-logo.png" alt="stacia logo" />
      </a>
      <p class="text-sm text-muted mt-2 ms-3 mb-0 brand-text">
        Provide and promote unparalleled design &amp; engineering solutions to
        "Build a better living world".
      </p>
    </div>
    <ul class="list-group">
      <p class="link-title">Home</p>
      <li class="list-group-item">
        <a href="https://staciacorp.com" target="_blank" class="list-item-link"
          >Our Companies</a
        >
      </li>
      <li class="list-group-item">
        <a
          href="https://forms.gle/yJJKsKuZjSZN9SRp8"
          target="_blank"
          class="list-item-link"
          >Careers<span class="ms-2 badge bg-primary">We're Hiring </span></a
        >
      </li>
      <li class="list-group-item">
        <a routerLink="/" class="list-item-link">Portfolio</a>
      </li>
    </ul>
    <ul class="list-group">
      <p class="link-title">Services</p>
      <li class="list-group-item">
        <a routerLink="/services/residential-solar" class="list-item-link"
          >Residential Solar</a
        >
      </li>
      <li class="list-group-item">
        <a routerLink="/services/commercial-solar" class="list-item-link"
          >Commercial Solar</a
        >
      </li>
      <li class="list-group-item">
        <a routerLink="/services/energy-storage-system" class="list-item-link"
          >Energy Storage</a
        >
      </li>
      <li class="list-group-item">
        <a routerLink="/services/ev-charging-stations" class="list-item-link"
          >Ev Charging Stations</a
        >
      </li>
      <li class="list-group-item">
        <a routerLink="/services/generator-plan-set" class="list-item-link"
          >Generator Plan set</a
        >
      </li>
    </ul>
    <ul class="list-group">
      <p class="link-title">Contact Us</p>
      <li class="list-group-item">
        <a href="mailto:enquiry@staciapowersolutions.com" class="list-item-link"
          >enquiry@staciapowersolutions.com</a
        >
      </li>
      <li class="list-group-item">
        <a href="tel:9952927614" class="list-item-link">+91 9952927614</a>
      </li>
      <li class="list-group-item">
        <a
          href="https://goo.gl/maps/LV1R11YU6Rs1HCwK7"
          target="_blank"
          class="list-item-link"
          >Guindy Industrial Estate, Chennai</a
        >
      </li>
    </ul>
  </div>
  <div class="container-lg sub-footer-container">
    <p class="footer-copyright text-sm m-0 text-muted">
      Copyright &#169; {{ year }} <strong class="text-primary">Stacia</strong> |
      All Rights Reserved
    </p>
    <ul class="social-list">
      <li class="social-list-item">
        <a
          href="https://www.facebook.com/staciapower"
          target="_blank"
          class="social-link"
        >
          <span class="bi bi-facebook"></span>
        </a>
      </li>
      <li class="social-list-item">
        <a
          href="https://www.twitter.com/PowerStacia"
          target="_blank"
          class="social-link"
        >
          <span class="bi bi-twitter"></span>
        </a>
      </li>
      <li class="social-list-item">
        <a
          href="https://www.instagram.com/stacia_corp_"
          target="_blank"
          class="social-link"
        >
          <span class="bi bi-instagram"></span>
        </a>
      </li>
      <li class="social-list-item">
        <a
          href="https://www.linkedin.com/showcase/stacia-power-solutions"
          target="_blank"
          class="social-link"
        >
          <span class="bi bi-linkedin"></span>
        </a>
      </li>
    </ul>
  </div>
</div>
