<div class="footer">
  <div class="container-lg container-footer-link">
    <a routerLink="/" class="brand-logo">
      <img src="assets/logo/stacia-logo.png" alt="stacia logo" />
    </a>
    <ul class="list-group">
      <p class="link-title">Home</p>
      <li class="list-group-item">
        <a routerLink="/" class="list-item-link">About Us</a>
      </li>
      <li class="list-group-item">
        <a routerLink="/" class="list-item-link"
          >Careers<span class="ms-2 badge bg-primary">We're Hiring </span></a
        >
      </li>
      <li class="list-group-item">
        <a routerLink="/" class="list-item-link">Blog</a>
      </li>
      <li class="list-group-item">
        <a routerLink="/" class="list-item-link">Portfolio</a>
      </li>
    </ul>
    <ul class="list-group">
      <p class="link-title">Services</p>
      <li class="list-group-item">
        <a routerLink="/services/residential-solar" class="list-item-link"
          >Residential Solar</a
        >
      </li>
      <li class="list-group-item">
        <a routerLink="/services/commercial-solar" class="list-item-link"
          >Commercial Solar</a
        >
      </li>
      <li class="list-group-item">
        <a routerLink="/services/energy-storage-system" class="list-item-link"
          >Energy Storage</a
        >
      </li>
      <li class="list-group-item">
        <a routerLink="/services/ev-charging" class="list-item-link"
          >Ev Charging</a
        >
      </li>
      <li class="list-group-item">
        <a routerLink="/services/generator-plan-set" class="list-item-link"
          >Generator Plan set</a
        >
      </li>
    </ul>
    <ul class="list-group">
      <p class="link-title">Contact Us</p>
      <li class="list-group-item">
        <a routerLink="/" class="list-item-link">Stacia@email</a>
      </li>
      <li class="list-group-item">
        <a routerLink="/" class="list-item-link">(987) 654 3210</a>
      </li>
      <li class="list-group-item">
        <a routerLink="/" class="list-item-link">Austin tx Us</a>
      </li>
    </ul>
  </div>
  <div class="container-lg sub-footer-container">
    <p class="footer-copyright text-sm m-0 text-muted">
      Copyright &#169; {{ year }} <strong class="text-primary">Stacia</strong> |
      All Rights Reserved
    </p>
    <ul class="social-list">
      <li class="social-list-item">
        <a href="/" class="social-link">
          <i class="bi bi-facebook"></i>
        </a>
      </li>
      <li class="social-list-item">
        <a href="/" class="social-link">
          <i class="bi bi-twitter"></i>
        </a>
      </li>
      <li class="social-list-item">
        <a href="/" class="social-link">
          <i class="bi bi-instagram"></i>
        </a>
      </li>
      <li class="social-list-item">
        <a href="/" class="social-link">
          <i class="bi bi-youtube"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
